/* font- montserrat
colors- #EF373E
#FFF6F4
#798897
*/

/*================
======Blanket=====
==================*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{

    color: black;
    font-size: 25px;
    font-family:Montserrat;
    font-weight: 400;
    text-rendering: optimizeLegibility;
   
}
body{
    background-color: white;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
a{
    list-style: none;
    text-decoration: none;
    color: black;
}
/*================
======resueable=====
==================*/
section{
    min-height: 100vh;
/*    border: 2px solid black;*/
}

/*================
======searchbox=====
==================*/

.searcharea{
/*  background-color: white;*/
}

.searchbox  {
    width:100%;
    height: 100vh;
/*    border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
       
}
.searchbox img{
    display: flex;
    width: 25%;
    
    align-self: center;
    justify-self: center;
 
}
i{
    position: absolute;
    left: 50px;
    bottom: 50px
}
.searchbox input{
     display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 25px;
    
}
ion-icon{
/*        display: flex;*/
    align-self: center;
    justify-self: center;
    margin-top: 25px;
    font-size: 20px;
    color: black;
    height: 30px;
    width: 40px;
    border: 2px solid black;
    
}


input[type="search"]{
    height: 2.5em;
    width: 50em;
    border-radius: 5px;
    
/*    position: relative;*/
}
input[type="search"]::placeholder{
    font-size: 1rem;
  
    
}



/*===========================================================
======imagegrid-navigation======
===================*/
nav{
    display: inline;
    margin-bottom: 10px;
   
}

.navigation{
   
    background-color: #798897;
    padding: 1rem;
/*    margin-bottom: 0.5rem;*/
}

.navigation1 ul li{
     display: inline;
    list-style: none;
    margin: 1rem;
    padding: 0.1rem 1em;
    background-color: #FFF6F4;
    border-radius: 10px;  
}

.navigation1 ul li:hover{
      cursor:pointer;
    
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(255,246,244,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(255,246,244,0);
    
}

.navigation input{
    float: right;
    position: relative;
    bottom: 1.5rem;
}

/*===================
======imagegrid======
===================*/

.reportgrid{
/*    background-color: rgba(121, 136, 151, 0.16);*/
   
}

.imggird{
     position: absolute;
    justify-content: center;
    align-items: center;
    
    margin-top: 10px;
    width: 100vw;
     background-color: rgba(121, 136, 151, 0.16);
    display: grid;
/*    grid-template-columns: 33.33% 33.33% 33.33%;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*    grid-template-rows: 33.33% 33.33% 33.33%;*/
/*    grid-template-rows: auto;*/
    grid-template-columns: repeat(auto-fill,minmax(600px,600px));
    column-gap: 30px;
    row-gap: 30px;
}
.item{
   width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.item:hover{
    cursor:pointer;
    
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(255,246,244,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(255,246,244,0);
}

/*
.item1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
        
}
.item2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
        
}
*/
/*================
======Gridinfo=====
==================*/


.gridinfo1{
    float: left;

}

.gridinfo1 img{
    width: 50rem;
}

.gridinfo2{
    float: right;
    background-color: rgba(121, 136, 151, 0.53);
    height:100%;
    box-shadow: 2px solid;
}